.ccd {
  width: 80%;
  background-image: linear-gradient(to left, white,
      rgba(44, 7, 7, 0.938),
      white);
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 40%;

}

.Card {
  margin: 2rem;
  padding: 1em;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}